registry=https://registry.npmjs.org/
strict-ssl=true
allow-scripts=@prisma/client @prisma/engines prisma @tailwindcss/oxide unrs-resolver
enable-pre-post-scripts=true
only-built-dependencies[]=@tailwindcss/oxide
only-built-dependencies[]=unrs-resolver
only-built-dependencies[]=@prisma/client
only-built-dependencies[]=@prisma/engines
only-built-dependencies[]=prisma
